useDynLib(nebula)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, evalCpp)
importFrom(Rfast, Digamma)
importFrom(Rfast, Lgamma)
importFrom(Rfast, Trigamma)
import(nloptr)
import(Rcpp)
import(stats)
import(trust)
import(Matrix)
import(methods)
export(nebula)
export(group_cell)
exportPattern("^[[:alpha:]]+")