useDynLib(nebula)
importFrom(Rcpp, evalCpp)
importFrom(Rfast, Digamma)
importFrom(Rfast, Lgamma)
importFrom(Rfast, Trigamma)
importFrom(Rfast, spdinv)
importFrom(Seurat, DefaultAssay)
importFrom(Seurat, GetAssayData)
importFrom(SingleCellExperiment, counts)
importFrom(SingleCellExperiment, colData)
import(nloptr)
import(Rcpp)
import(stats)
import(trust)
import(Matrix)
import(methods)
import(doFuture)
import(future)
import(foreach)
import(doRNG)
import(parallelly)
export(nebula)
export(group_cell)
export(nbresidual)
export(scToNeb)