useDynLib(nebula)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, evalCpp)
importFrom(Rfast, Digamma)
importFrom(Rfast, Lgamma)
importFrom(Rfast, Trigamma)
import(nloptr)
import(Rcpp)
import(stats)
import(trust)
import(Matrix)
import(methods)
import(doFuture)
import(future)
import(foreach)
import(doRNG)
export(nebula)
export(group_cell)
export(nbresidual)